	<footer>
		<div class="container">
					<p class="copyright"><i class="far fa-copyright"></i> 2020 Town Center Internal Medicine<a class = "socialFooter" href="https://www.facebook.com/TCIMed/"><span id="socialFooter" <i class="fab fa-facebook-square"></i></span></a></p>
		</div>
	</footer>
			
			
			<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
			<script src="js/carousel.js"></script>
			<script src="js/navbar.js"></script>
			<!-- <script>
					function initMap() {
					  var uluru = {lat: 29.586835, lng: -95.629308};
					  var map = new google.maps.Map(document.getElementById('map'), {
						zoom: 17,
						center: uluru
					  });
					  var marker = new google.maps.Marker({
						position: uluru,
						map: map
					  });
					}
			</script> -->
			<!-- <iframe
				width="600"
				height="450"
				frameborder="0" style="border:0"
				src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC6OduFeIMbLN0O9wVoik83-LaodIPUAZI
					&q=Space+Needle,Seattle+WA" allowfullscreen>
			</iframe> -->
			<script>
				AOS.init({
					duration: 600,
				})
			</script>
		</body>
	
</html>