<% include ./partials/header %>
<div class="container">
    <header class="jumbotron">
            <div class="container">
                <h1>About Us</h1>
                <p>Meet Your Doctors</p>
            </div>
        </header>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="https://d2t808ag5aqhkh.cloudfront.net/cb126ef7-52b8-493c-bd98-b6c7b055a272zoom.jpg">
        </div>
        <div class="col-md-6">
            
        </div>

    </div>

</div>
<% include ./partials/footer %>