<% include ./partials/header %>
<div class="container-fluid">
    <div class="aboutPhysician" background="Background.jpg">
        <h3 id="aboutPhysicianBanner">Meet Your Doctor</h3>
    </div>
</div>

<div class="container" style="padding-top: 1em">
    <h3 style="color: gray; font-weight: 300;">DR. PREM NOWLAKHA</h3>
    <h6 style="font-weight: 300; font-style: italic">INTERNAL MEDICINE/FAMILY PRACTICE</h6>
</div>

<div id="bioContainer" class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <img id="aboutPhoto" class="img-fluid" src="/Images/Prem Nowlakha About.jpeg" alt="Dr. Prem Nowlakha">
        </div>
        <div id="paragraphSpacer" class="col-lg-8 col-md-8">
            <p>
                Dr. Prem Nowlakha is a Board Certified Internal Medicine physician who has been in practice for more than 30 years. He attended residency at the University of Texas Houston Branch. In his spare time he enjoys gardening, fixing things, and making ice cream...which he then eats! 
            </p>
            <p>
                Dr. Nowlakha has received numerous awards from the staffs at Sugar Land Methodist Hospital and Southwest Memorial Hermann Hospital for the care he provides his patients. He always makes it a point to take the time to understand every patient holistically, looking at everything from medical data to lifestyle in order to recommend the best medical advice.
            </p>
             <p>
                Doctor Nowlakha is currently accepting patients for hospital, clinic, and nursing home care.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="backgroundCircles">
        <h2 id="headingWhite">CREDENTIALS & ACCOLADES</h2>
        <div class="container" style="padding-bottom: 1em;">
            <div id="credentials" class="row">
                <div class="col-lg-1 col-md-1 col-sm-0">

                </div>
                <div class="col-lg-5 col-md-5">
                    <ul>
                        <li>University of Texas Houston, Residency, 19XX-19XX</li>
                        <li>University of Texas Houston, Residency, 19XX-19XX</li>
                        <li>University of Texas Houston, Residency, 19XX-19XX</li>
                    </ul>
                </div>
                <div class="col-lg-5 col-md-5">
                    <ul>
                        <li>American Board of Internal Medicine Certified, 19XX - Present</li>
                        <li>American Board of Internal Medicine Certified, 19XX - Present</li>
                        <li>American Board of Internal Medicine Certified, 19XX - Present</li>
                    </ul>
                </div>                
                <div class="col-lg-1 col-md-1 col-sm-0">

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <h2 id="affiliations">Hospital & Nursing Home Affiliations</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="shape">Methodist Sugar Land</div>
                <div class="shape">Memorial Hermann Southwest</div>
                <div class="shape">Kindred</div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="shape">HealthSouth</div>
                <div class="shape">Memorial Hermann Sugar Land</div>
                <div class="shape">St. Luke's Sugar Land</div>
            </div>
        </div>
    </div>
</div>

<hr>

<!-- Services Offered -->
<div id="servicesOffered" class="container">
        <h2 id="headingTag">Services We Offer</h2>
        <h5 style="text-align: center;">Internal Medicine</h5>
        <div class="row">
            <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
                <img class="img-fluid" src="/Images/Services/Blood Sugar.jpeg">
                <div id="centered">Diabetes Management</div>
            </div>
            <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
                <img class="img-fluid" src="/Images/Services/Allergies.jpeg">
                <div id="centered">Allergy Treatment</div>
            </div>
            <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
                <img class="img-fluid" src="/Images/Services/Cough Cold Flu.jpeg">
                <div id="centered">Cold/Cough/Flu Treatment</div>
            </div>
            <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
                <img class="img-fluid" src="/Images/Services/Pneumonia.jpeg">
                <div id="centered">Pneumonia Treatment</div>
            </div>
            <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
                <img class="img-fluid" src="/Images/Services/Hypertension.jpeg">
                <div id="centered">Hypertension</div>
            </div>
            <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
                <img class="img-fluid" src="/Images/Services/Physical Examination.jpeg">
                <div id="centered">Physical Examinations</div>
            </div>
            <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
                <img class="img-fluid" src="/Images/Services/Cholesterol Management.jpeg">
                <div id="centered">Cholesterol Management</div>
            </div>
            <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
                <img class="img-fluid" src="/Images/Services/Ear Irrigation.jpeg">
                <div id="centered">Ear Irrigation</div>
            </div>
            <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
                <img class="img-fluid" src="/Images/Services/Cryotherapy.jpeg">
                <div id="centered">Cryotherapy</div>
            </div>
            <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
                <img class="img-fluid" src="/Images/Services/EKGs.jpeg">
                <div id="centered">EKGs</div>
            </div>
            <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
                <img class="img-fluid" src="/Images/Services/Hospital Care.jpeg">
                <div id="centered">Hospital Care</div>
            </div>
            <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
                <img class="img-fluid" src="/Images/Services/Nerve Issues.jpeg">
                <div id="centered">Nerve Issues</div>
            </div>
            <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
                <img class="img-fluid" src="/Images/Services/Arthiritis.jpeg">
                <div id="centered">Arthiritis</div>
            </div>
            <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
                <img class="img-fluid" src="/Images/Services/Skin Conditions.jpeg">
                <div id="centered">Skin Conditions</div>
            </div>
            <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
                <img class="img-fluid" src="/Images/Services/doppler.jpeg">
                <div id="centered">Blood Circulation Issues</div>
            </div>
        </div>  
    </div>
    

<% include ./partials/footer %>
