<% include ./partials/header %>
<div class="container-fluid">
    <div class="aboutPhysician" background="Background.jpg">
        <h3 id="aboutPhysicianBanner">Meet Your Doctor</h3>
    </div>
</div>

<div class="container" style="padding-top: 1em">
    <h3 style="color: gray; font-weight: 300;">DR. POOJA NOWLAKHA</h3>
    <h6 style="font-weight: 300; font-style: italic">RESIDENT PODIATRIST</h6>
</div>

<div id="bioContainer" class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-lg-4">
            <img id="aboutPhoto" class="img-fluid" src="/Images/PoojaNowlakha.jpg" alt="Dr. Pooja Nowlakha">
        </div>
        <div id="paragraphSpacer" class="col-lg-8">
            <p>
                Dr. Pooja Nowlakha is a podiatric physician who deals with the ailments of the foot and ankle. She completed her undergraduate studies at the University of Houston, where she majored in Biology and minored in Chemistry. 
            </p>
            <p>
                She obtained her Doctor of Podiatric Medicine at the California School of Podiatric Medicine in Oakland, California. She completed her residency at the prestigious Tucson Medical Center. She moved back to her Houston to start a practice that serves the community that she holds close to her heart. 
            </p>
            <p>
                Dr. Nowlakha's goal is to always make her patients’ feel comfortable and provide excellent care. 
            </p>
        </div>
    </div>
</div>

<!-- <div class="container-fluid">
        <div class="backgroundCircles">
            <h2 id="headingWhite">CREDENTIALS & ACCOLADES</h2>
            <div class="container" style="padding-bottom: 1em;">
                <div id="credentials" class="row">
                    <div class="col-lg-1 col-md-1 col-sm-0">
    
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <ul>
                            <li>University of Texas Houston, Residency, 19XX-19XX</li>
                            <li>University of Texas Houston, Residency, 19XX-19XX</li>
                            <li>University of Texas Houston, Residency, 19XX-19XX</li>
                        </ul>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <ul>
                            <li>American Board of Internal Medicine Certified, 19XX - Present</li>
                            <li>American Board of Internal Medicine Certified, 19XX - Present</li>
                            <li>American Board of Internal Medicine Certified, 19XX - Present</li>
                        </ul>
                    </div>                
                    <div class="col-lg-1 col-md-1 col-sm-0">
    
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    
    
    <div class="container">
        <h2 id="affiliations">Hospital & Nursing Home Affiliations</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="shape">Methodist Sugar Land</div>
                    <div class="shape">Memorial Hermann Southwest</div>
                    <div class="shape">Kindred</div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="shape">HealthSouth</div>
                    <div class="shape">Memorial Hermann Sugar Land</div>
                    <div class="shape">St. Luke's Sugar Land</div>
                </div>
            </div>
        </div>
    </div>
    
    <hr>
<!-- Services Offered -->
<div id="servicesOffered" class="container">
    <h2 id="headingTag">Services We Offer</h2>
    <h5 style="text-align: center;">Podiatric Medicine</h5>
    <div class="row">
        <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
            <img class="img-fluid" src="/Images/Services/Blood Sugar.jpeg">
            <div id="centered">Diabetic Foot Conditions</div>
        </div>
        <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
            <img class="img-fluid" src="/Images/Services/Blood Circulation.jpg">
            <div id="centered">Blood Circulation Issues</div>
        </div>
        <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
            <img class="img-fluid" src="/Images/Services/Nerve Issues.jpeg">
            <div id="centered">Nerve Issues</div>
        </div>
        <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
            <img class="img-fluid" src="/Images/Services/Hammertoes.jpg">
            <div id="centered">Hammertoes</div>
        </div>
        <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
            <img class="img-fluid" src="/Images/Services/Cryotherapy.jpeg">
            <div id="centered">Plantar Warts</div>
        </div>
        <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
            <img class="img-fluid" src="/Images/Services/Toe Dermatology.jpg">
            <div id="centered">Foot Dermatologic Issues</div>
        </div>
        <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
            <img class="img-fluid" src="/Images/Services/Arthiritis.jpeg">
            <div id="centered">Arthritis</div>
        </div>
        <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
            <img class="img-fluid" src="/Images/Services/Plantar.jpg">
            <div id="centered">Plantar Fasciitis</div>
        </div>
        <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
            <img class="img-fluid" src="/Images/Services/Tendon.jpg">
            <div id="centered">Tendon Disorders</div>
        </div>
        <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
            <img class="img-fluid" src="/Images/Services/Hospital Care.jpeg">
            <div id="centered">Hospital Care</div>
        </div>
        <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
            <img class="img-fluid" src="/Images/Services/Bunion Treatment.jpeg">
            <div id="centered">Bunion Treatment</div>
        </div>
        <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
            <img class="img-fluid" src="/Images/Services/Toenail Restoration.jpeg">
            <div id="centered">Toenail Restoration</div>
        </div>
        <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
            <img class="img-fluid" src="/Images/Services/Nail Disorder.jpg">
            <div id="centered">Nail Disorders</div>
        </div>
        <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
            <img class="img-fluid" src="/Images/Services/Heel Pain.jpeg">
            <div id="centered">Heel Pain</div>
        </div>
        <div id="servicesGrid" class="col-lg-4 col-sm-6 col-6">
            <img class="img-fluid" src="/Images/Services/Ligament2.jpg">
            <div id="centered">Ligament injuries</div>
        </div>
    </div>  
</div>
    

<% include ./partials/footer %>
